<h1>Student Profile</h1>

<h2>Hello! , <%= @student.name %></h2>
<h4><%= @student.email %></h2>
<%= button_to "Update Profile", edit_student_path, method: "get", class: "btn btn-primary" %>

<h2>Incoming Class</h2>
<%= render partial: "/shared/grid_courses", locals: {courses: @student.incoming_courses} %>

<h2>Previous Class</h2>
<%= render partial: "/shared/grid_courses", locals: {courses: @student.previous_courses} %>