<h1>Say Hello to the Companies!</h1>
<br>
<div class="grid"> 
  <% @companies.each do |company| %>
    <div class="card">
      <% if !!company.picture_link %>
        <img src="<%= company.picture_link %>" class="card-img-top" alt="<%= company.name %>">
      <% else %>
        <% if company.picture.attached? %>
          <img src="<%= url_for(company.picture) %>" class="card-img-top" alt="<%= company.name %>">
        <% end %>
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= company.name %></h5>
        <p class="card-text"><%=company.description%></p>
        <%= link_to company.name, company_path(company.id), class: 'green'%></a>
      </div>
    </div>
  <% end %>
</div>



  
  <%# <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div> %>