<h1> Company - <%= @company.name%> <i class="fab fa-itunes-note"> </i></h1>

<div class="row">
  <div class="col-6">
    <% if !!@company.picture_link %>
      <img src="<%= @company.picture_link %>" class="img-fluid rounded" alt="<%=@company.name %>">
    <% else %>
      <% if @company.picture.attached? %>
        <img src="<%= url_for(@company.picture) %>" class="img-fluid rounded" alt="<%=@company.name %>">
      <% end %>
    <% end %>
  </div>
  <div class="col-6">
    <h4> 
      What <%= @company.name %> Is all about: 
    </h4>
    <h5>
      <%= @company.description %>
    </h5>
    <% if !!current_user && current_user.id == @company.id %>
      <%= button_to edit_company_path, method: "get", class: "btn btn-success" do %> 
        <i class="fas fa-pencil-alt"></i> Edit Profile 
      <% end %>
    <% end %>
  </div>
</div>

<hr>
<h2>
Teachers 
<% if !!current_user && current_user.id == @company.id %>
  <%= button_to new_teacher_path, method: "get", class: "btn btn-primary" do %> 
    <i class="fas fa-plus"></i> Add Teacher 
  <% end %>
<% end %>
</h2>
<div class="row">
  <div class="grid">
    <% @company.teachers.each do |teacher| %>
      <div class="grid-children">
        <img src="<%= teacher.picture %>" class="img-fluid rounded-circle" alt="<%= teacher.name%>">
        <%= link_to teacher.name, teacher_path(teacher.id)%>
        <% if !!current_user && current_user.id == @company.id %> 
          <%= button_to edit_teacher_path(teacher.id), method: "get", class: "btn btn-success" do %> 
            <i class="fas fa-pencil-alt"></i> Edit Teacher 
          <% end %>
          <%= button_to teacher_path(teacher.id), method: "delete", class: "btn btn-danger" do %> 
            <i class="fas fa-times"></i> Delete Teacher 
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<hr>

<h2>
Incoming Courses
<% if !!current_user && current_user.id == @company.id %>
  <%= button_to new_course_path, method: "get", class: "btn btn-primary" do %> 
    <i class="fas fa-plus"></i> Add Courses 
  <% end %>
<% end %>
</h2>

<br>

<div class="row">
  <%= render partial: "grid_company_courses", locals: {courses: @company.incoming_courses, incoming_class: true} %>
</div>

<hr>

<h2> Previous Courses </h2>
<br>
<div class="row">
  <%= render partial: "grid_company_courses", locals: {courses: @company.previous_courses, incoming_class: false} %>
</div>