<h1> Company - <%= @company.name%> <i class="fab fa-itunes-note"> </i></h1>

<div class="row">
  <div class="col-6">
    <img src="<%= @company.picture %>" class="img-fluid rounded" alt="<%=@company.name %>">
  </div>
  <div class="col-6">
    <h4> 
      What <%= @company.name %> Is all about: 
    </h4>
    <h5>
      <%= @company.description %>
    </h5>
    <% if !!current_user && current_user.id == @company.id %>
      <%= button_to edit_company_path, method: "get", class: "btn btn-success" do %> 
        <i class="fas fa-pencil-alt"></i> Edit Profile 
      <% end %>
    <% end %>
  </div>
</div>

<hr>
<h2>
Teachers 
<% if !!current_user && current_user.id == @company.id %>
  <%= button_to new_teacher_path, method: "get", class: "btn btn-primary" do %> 
    <i class="fas fa-plus"></i> Add Teacher 
  <% end %>
<% end %>
</h2>
<div class="row">
  <div class="grid">
    <% @company.teachers.each do |teacher| %>
      <div class="grid-children">
        <img src="<%= teacher.picture %>" class="img-fluid rounded-circle" alt="<%= teacher.name%>">
        <%= link_to teacher.name, teacher_path(teacher.id)%>
      </div>
    <% end %>
  </div>
</div>
<hr>

<h2>
Courses 

<% if !!current_user && current_user.id == @company.id %>
  <%= button_to new_course_path, method: "get", class: "btn btn-primary" do %> 
    <i class="fas fa-plus"></i> Add Courses 
  <% end %>
<% end %>
</h2>

<br>

<div class="row">
  <div class="grid">
    <% @company.courses.each do |course|  %>
        <div class="card bg-light">
            <img src="<%= course.picture %>" class="card-img-top img-responsive " alt="<%= course.title %>">
            <div class="card-body">
              <h5 class="card-title "><%= link_to course.title, course_path(course.id), class: 'purple'  %></h5>
              <p class="card-text">(ages 0-5)</p>
              <% if !!current_user && current_user.id == @company.id %> 
                <%= button_to edit_course_path(course.id), method: "get", class: "btn btn-success" do %> 
                  <i class="fas fa-pencil-alt"></i> Edit Course 
                <% end %>
                 <%= button_to course_path(course.id), method: "delete", class: "btn btn-primary" do %> 
                  <i class="fas fa-pencil-alt"></i> Delete Course 
                <% end %>
              <% end %>
            </div>
        </div>
    <% end %>
  </div>
</div>