<h1> Company- <%= @company.name%> <i class="fas fa-music"></i></h1>
<br>
<br>
<img src="<%= @company.picture %>" class="img-rounded img-responsive company_image " alt="<%=@company.name %>">
<br>
<br>
<h4> What <%= @company.name %> Is all about: <br></h4>
        <br>
      <h5>  <%= @company.description %></h5>

