<nav class="navbar navbar-expand-lg navbar-light ">
  <!--
  <a class="navbar-brand" href="#">
  Hello Sunshine <%= ", " + current_user.name if current_user %>
  </a>
  -->
  <%= link_to "Hello Sunshine", root_path, class: "navbar-brand" %>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Courses", courses_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Teachers", teachers_path, class: "nav-link"  %>
      </li>
      <li class="nav-item">
        <%= link_to "Companies", companies_path, class: "nav-link" %>
      </li>
      <!--
      <li class="nav-item">
        <%= link_to "About", about_path, class: "nav-link" %>
      </li>
      -->
      <% unless current_user %>
        <li class="nav-item">
          <%# UserType => from config/initializers/my_constants.rb %>
          <%= link_to "Student Log in", login_path(UserType.student), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%# UserType => from config/initializers/my_constants.rb %>
          <%= link_to "Company Log in", login_path(UserType.company_admin), class: "nav-link" %>
        </li>
      <% end %>
      <% if current_user %>
        <% if current_type == UserType.student %>
          <li class="nav-item">
            <%= link_to "Student Profile", student_path, class: "nav-link" %>
          </li>
        <% elsif current_type == UserType.company_admin %>
          <li class="nav-item">
            <%= link_to "Company Profile", company_path(current_user.company_id), class: "nav-link" %>
          </li>
        <% end %>
        <li class="nav-item">
          <%= link_to "Log Out", logout_path, method: "POST", class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>