
<h1> Meet <%= @teacher.name %> ! </h1>
<br>

 <img src="<%= @teacher.picture %>" class="img-rounded img-responsive teachers_image " alt="<%=@teacher.name %>">
<br>
<br>
<h6><%= @teacher.name%> hobbies: <%= @teacher.hobbies%>!</div></h6>
<br>
<h6><%= @teacher.name%> specialty: <%= @teacher.specialty.titlecase%> </h6>
<br>

<%= @teacher.name%> website: <a href="<%= @teacher.website_link%>" target="_blank"> <%= @teacher.name%>'s website! </a>

