
<h1> Meet <%= @teacher.name %> ! </h1>
<br>
    <% if !!@teacher.picture_link %>
        <img src="<%= @teacher.picture_link %>" class="img-rounded img-responsive teachers_image " alt="<%=@teacher.name %>">
    <% else %>
      <% if @teacher.picture.attached? %>
        <img src="<%= url_for(@teacher.picture) %>" class="img-rounded img-responsive teachers_image " alt="<%=@teacher.name %>">
      <% end %>
    <% end %>
<br>
<br>
<h6><%= @teacher.name%> hobbies: <%= @teacher.hobbies%>!</div></h6>
<br>
<h6><%= @teacher.name%> specialty: <%= @teacher.specialty.titlecase%> </h6>
<br>

<%= @teacher.name%> website: <a href="<%= @teacher.website_link%>" target="_blank"> <%= @teacher.name%>'s website! </a>

