<h1>Hello New Course <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-music-note-list" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M12 13c0 1.105-1.12 2-2.5 2S7 14.105 7 13s1.12-2 2.5-2 2.5.895 2.5 2z"/>
  <path fill-rule="evenodd" d="M12 3v10h-1V3h1z"/>
  <path d="M11 2.82a1 1 0 0 1 .804-.98l3-.6A1 1 0 0 1 16 2.22V4l-5 1V2.82z"/>
  <path fill-rule="evenodd" d="M0 11.5a.5.5 0 0 1 .5-.5H4a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 .5 7H8a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 .5 3H8a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z"/>
</svg></h1>

<br>
<%= form_with model: @course, local: true do |f| %>
   <div class= "col-6">
        <div class="form-group">
            <%=f.label :title %>
            <%=f.text_field :title, class: "form-control"  %>
        </div>
        <div class="form-group">
            <%=f.label :course_type %>
            <%=f.select :course_type, ['Music', 'Dance'], class: "form-control" %>
        </div>
        <div class="form-group">
            <%=f.label :date%>
            <%=f.datetime_field :date, class: "form-control" %>
        </div>
        <div class="form-group">
            <%=f.label :price%>
            <%=f.number_field :price, class: "form-control" %>
        </div>
        <div class="form-group">
            <%=f.label :min_age%>
            <%=f.number_field :min_age, class: "form-control" %>
        </div>
        <div class="form-group">
           <%=f.label :max_age%>
           <%=f.number_field :max_age, class: "form-control" %>
        </div>
         <div class="form-group">
           <%=f.label :max_student%>
           <%=f.number_field :max_student, class: "form-control" %>
         </div>
         <div class="form-group">
            <%=f.label :location%>
            <%=f.select :location, ['Zoom Room', 'Rrivate Zoom Room', 'Live In-Person'], class: "form-control" %>
        </div>
        <div class="form-group">
            <%=f.label :picture%>
            <%=f.file_field :picture, class: "form-control" %> 
        </div>
       
    <%=f.submit 'Create Course',  class: "btn btn-primary" %>
    </div>
<% end %>

  
<!--
<%= form_with url: "/" do %>
    label : <%= label_tag :title %> <br>
    text_field : <%= text_field_tag :title %> <br>
    radio_button : <%= radio_button_tag :type, "music" %> <br>
    check_box : <%= check_box_tag :type %> <br>

    text_area : <%= text_area_tag(:message, "Hi, nice site", size: "24x6") %> <br>
    password_field : <%= password_field_tag(:password) %> <br>
    hidden_field : <%= hidden_field_tag(:parent_id, "5") %> <br>
    search_field : <%= search_field(:user, :name) %> <br>
    telephone_field : <%= telephone_field(:user, :phone) %> <br>
    date_field : <%= date_field(:user, :born_on) %> <br>
    datetime_field : <%= datetime_local_field(:user, :graduation_day) %> <br>
    datetime_local_field : <%= datetime_local_field(:user, :graduation_day) %> <br>
    month_field : <%= month_field(:user, :birthday_month) %> <br>
    week_field : <%= week_field(:user, :birthday_week) %> <br>
    url_field : <%= url_field(:user, :homepage) %> <br>
    email_field : <%= email_field(:user, :address) %> <br>

    color_field : <%= color_field(:user, :favorite_color) %> <br>
    time_field : <%= time_field(:task, :started_at) %> <br>
    number_field : <%= number_field(:product, :price, in: 1.0..20.0, step: 0.5) %> <br>
    range_filed : <%= range_field(:product, :discount, in: 1..100) %> <br>
    select_date : <%= select_date Date.today, prefix: :start_date %> <br>
    time_zone : <%= time_zone_select(:person, :time_zone) %> <br>
    upload_file : <%= file_field_tag 'picture' %> <br>
<% end %>

<!-->
<!--
<h2>form_with using model</h2>
<%= form_with( 
    model: @course, 
    method: "post", #("get", "post")
    scope: "course",
    url: courses_path,
    id: "course_id", 
    class: "course_class",
    html: {name: "course"}) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.radio_button :type, "music" %>
    <%= f.check_box :type %>
    <%= f.submit %>
<% end %>


<hr>
<h2>form_with without model</h2>
<%= form_with url: courses_path do %>
    <%= label_tag :title %>
    <%= text_field_tag :title %>
<% end %>


<hr>
<h2>form_for</h2>
<%= form_for @course do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
<% end %>
  

<hr>
<h2>form_tag</h2>
<%= form_tag courses_path do %>
    <%= label_tag :title %>
    <%= text_field_tag :title %>
<% end %>
