<div class="row">
    <h2><%= @course.title %></h2>
</div>
<div class="row">
    <div class="col">
        <%= @course.date_to_s %>
    </div>
</div>
<div class="row">
    <div class="col">
        <%= @course.course_type %> - Age : <%= @course.min_age.to_s + " - " + @course.max_age.to_s %>
    </div>
</div>
<div class="row">
    <div class="col">
        $ <%= @course.price %>
    </div>
</div>