<div class="row">
    <h2><%= @course.title %></h2>
</div>

<div class="row">
    <% if !!@course.picture_link %>
        <img src="<%= @course.picture_link %>" class="img-rounded img-responsive courses_image" alt="<%=@course.title %> Course ">
    <% else %>
        <% if @course.picture.attached? %>
            <img src="<%= url_for(@course.picture) %>" class="img-rounded img-responsive courses_image" alt="<%=@course.title %> Course ">
        <% end %>
    <% end %>  
</div>
<div class="row">
    <div class="col">
        <%= @course.date_to_s %>
    </div>
</div>
<div class="row">
    <div class="col">
        <%= @course.course_type %>
    </div>
</div>
<div class="row">
    <div class="col">
        Age : <%= @course.min_age.to_s + " - " + @course.max_age.to_s %>
    </div>
</div>
<div class="row">
    <div class="col">
        Max : <%= @course.max_student %> Students
    </div>
</div>
<div class="row">
    <div class="col">
        $ <%= @course.price %>
    </div>
</div>
<div class="row">
    <div class="col">
        Teacher: <%= link_to @course.teacher.name, teacher_path(@course.teacher_id) %>
    </div>
</div>
<div class="row">
    <div class="col">
        location : <%= @course.location%>
    </div>
</div>
<% if current_user && current_type == UserType.student %>
    <div class="row">
        <div class="col">
            <% if @course.students.exists?(current_user.id.to_i) %>
                <%= button_to "Registered", course_register_path(@course.id), class: "btn btn-secondary", disabled: true%>
                <%= button_to "Unregister", course_unregister_path(@course.id), method: "delete", class: "btn btn-danger"%>
            <% else %>
                <%= button_to "Register!", course_register_path(@course.id), class: "btn btn-primary" %>
            <% end %>
        </div>
    </div>
<% end %>
