<!DOCTYPE html>
<html>
  <head>
    <title>HelloSunshine</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "static/header"  %>
    <main class="container"> <!--bootstrap-->
      <% if notice %>
        <%= notice %>
      <% end %>
      
      <% if alert %>
        <%= alert %>
      <% end %>
      
      <%= yield %>
    </main>
  </body>
</html>
