<!DOCTYPE html>
<html>
  <head>
    <title>HelloSunshine</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "static/header"  %>
    <main class="container"> <!--bootstrap-->
    <br>
      <% if notice %>
      <div class="alert alert-primary" role="alert">
        <%= notice %>
      </div>
      <% end %>
      
      <% if alert %>
      <div class="alert alert-danger" role="alert">
        <%= alert %>
      </div>
      <% end %>
      
      <%= yield %>
    </main>
  </body>
  
  <div id="footer">
    <div id="footerContainer" >
    copyright © Hello Sunshine 2020: by Alyssa and Ray<i class="fab fa-itunes-note"> </i>
      <%# <div id="imginthefooter"></div> %>
    </div>
  </div>
</html>